flow.json
[
    {
        "id": "2567a318.c428a4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3b36acf1.93ddd4",
        "type": "subflow",
        "name": "handle TS590",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 260,
                "y": 140,
                "wires": [
                    {
                        "id": "11a4a0d0.2b8ecf"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1340,
                "y": 60,
                "wires": [
                    {
                        "id": "2ae46caa.fb19b4",
                        "port": 0
                    },
                    {
                        "id": "368f38c5.fde2d8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1340,
                "y": 120,
                "wires": [
                    {
                        "id": "fc917a39.138f1",
                        "port": 0
                    },
                    {
                        "id": "368f38c5.fde2d8",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1040,
                "y": 180,
                "wires": [
                    {
                        "id": "8d2ca4a6.0365",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1040,
                "y": 240,
                "wires": [
                    {
                        "id": "ecc8a5d3.7e2da8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1040,
                "y": 300,
                "wires": [
                    {
                        "id": "8d6e8da2.f3407",
                        "port": 0
                    }
                ]
            },
            {
                "x": 620,
                "y": 300,
                "wires": [
                    {
                        "id": "11a4a0d0.2b8ecf",
                        "port": 5
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "8c92c081.1265b8",
        "type": "serial-port",
        "serialport": "/dev/tty.SLAB_USBtoUART",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "high",
        "cts": "high",
        "dsr": "none",
        "newline": ";",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "50"
    },
    {
        "id": "11a4a0d0.2b8ecf",
        "type": "switch",
        "z": "3b36acf1.93ddd4",
        "name": "decode msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^FA",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^MD",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^XI",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^PS",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^SH",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "2ae46caa.fb19b4"
            ],
            [
                "fc917a39.138f1"
            ],
            [
                "368f38c5.fde2d8"
            ],
            [
                "ecc8a5d3.7e2da8"
            ],
            [
                "8d6e8da2.f3407"
            ],
            []
        ]
    },
    {
        "id": "15fc324b.d35cf6",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "TS590 serial in",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 170,
        "y": 560,
        "wires": []
    },
    {
        "id": "54bc4149.107d4",
        "type": "link out",
        "z": "2567a318.c428a4",
        "name": "",
        "links": [
            "2480a4db.5e2d4c",
            "763d8174.9f848",
            "787a9b39.c3b51c",
            "399515f5.0da982"
        ],
        "x": 1435,
        "y": 480,
        "wires": []
    },
    {
        "id": "e8c2a6bc.ddcc4",
        "type": "comment",
        "z": "2567a318.c428a4",
        "name": "send changes to gqrx",
        "info": "",
        "x": 260,
        "y": 1420,
        "wires": []
    },
    {
        "id": "3a8bdc2c.156d54",
        "type": "function",
        "z": "2567a318.c428a4",
        "name": "set GQRX frequency",
        "func": "var f = parseInt(msg.payload);\n\nif (f == flow.get(\"gqrx_freq\")){\n    return ;\n}\n\nmsg.payload = \"F \" + f ;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1500,
        "wires": [
            [
                "f640adee.ffb1d8",
                "54ee71bb.4f9e7"
            ]
        ]
    },
    {
        "id": "56a90595.8e6484",
        "type": "inject",
        "z": "2567a318.c428a4",
        "name": "poll gqrx \"f \"",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "f ",
        "payloadType": "str",
        "x": 200,
        "y": 1780,
        "wires": [
            [
                "54ee71bb.4f9e7"
            ]
        ]
    },
    {
        "id": "681dec55.0ec2f4",
        "type": "switch",
        "z": "2567a318.c428a4",
        "name": "decode reponse",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^RPRT 0",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^RPRT 1",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1000,
        "y": 2000,
        "wires": [
            [],
            [
                "699dc26b.9e6a84"
            ],
            [
                "2205bff5.027f18"
            ]
        ]
    },
    {
        "id": "699dc26b.9e6a84",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "gqrx error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1200,
        "y": 1980,
        "wires": []
    },
    {
        "id": "763d8174.9f848",
        "type": "link in",
        "z": "2567a318.c428a4",
        "name": "frequency",
        "links": [
            "56f23373.eea424",
            "a04f7c82.2c3d1",
            "54bc4149.107d4"
        ],
        "x": 215,
        "y": 1500,
        "wires": [
            [
                "3a8bdc2c.156d54"
            ]
        ]
    },
    {
        "id": "8714ab28.c417",
        "type": "comment",
        "z": "2567a318.c428a4",
        "name": "poll gqrx for changes",
        "info": "",
        "x": 200,
        "y": 1700,
        "wires": []
    },
    {
        "id": "ae5baa1e.1a4b28",
        "type": "link out",
        "z": "2567a318.c428a4",
        "name": "",
        "links": [
            "6c640c27.c92afc",
            "b8913ddd.bcf758"
        ],
        "x": 1555,
        "y": 1960,
        "wires": []
    },
    {
        "id": "31c358fd.ece39",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "gqrx freq",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 1900,
        "wires": []
    },
    {
        "id": "2205bff5.027f18",
        "type": "function",
        "z": "2567a318.c428a4",
        "name": "gqrx freq",
        "func": "var f = parseInt(msg.payload);\n\nmsg.payload = f;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 2020,
        "wires": [
            [
                "9210a2c1.b101b"
            ]
        ]
    },
    {
        "id": "bcd3b431.1b416",
        "type": "function",
        "z": "2567a318.c428a4",
        "name": "build ts590 FA cmd",
        "func": "\nif (msg.payload == flow.get(\"ts590_freq\")){\n    return ;\n}\n\n\nvar f = \"00000000000\" + (msg.payload) +\"0\";\nf = f.substr(-12);\nf = f.slice(0, -1);\n\nmsg.payload = \"FA\" + f + \";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 900,
        "wires": [
            [
                "ae71736d.90f3a8",
                "f9e1b27.8e2b3d"
            ]
        ]
    },
    {
        "id": "b1a26db2.974628",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "ts590 cmd",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 920,
        "wires": []
    },
    {
        "id": "b8913ddd.bcf758",
        "type": "link in",
        "z": "2567a318.c428a4",
        "name": "",
        "links": [
            "a04f7c82.2c3d1",
            "ae5baa1e.1a4b28"
        ],
        "x": 135,
        "y": 900,
        "wires": [
            [
                "bcd3b431.1b416"
            ]
        ]
    },
    {
        "id": "18be1e2c.8b3daa",
        "type": "inject",
        "z": "2567a318.c428a4",
        "name": "reset TS590 comms",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "VS00;AI4;XI;PS;SH;",
        "payloadType": "str",
        "x": 500,
        "y": 840,
        "wires": [
            [
                "ae71736d.90f3a8"
            ]
        ]
    },
    {
        "id": "bba28a01.d07",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "TS590 freq change",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 520,
        "wires": []
    },
    {
        "id": "ae71736d.90f3a8",
        "type": "function",
        "z": "2567a318.c428a4",
        "name": "pass",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 880,
        "wires": [
            [
                "b1a26db2.974628",
                "2252f2ad.3c3e5e"
            ]
        ]
    },
    {
        "id": "26503017.ccbd1",
        "type": "comment",
        "z": "2567a318.c428a4",
        "name": "handle gqrx",
        "info": "",
        "x": 110,
        "y": 1360,
        "wires": []
    },
    {
        "id": "5c8e7562.58805c",
        "type": "comment",
        "z": "2567a318.c428a4",
        "name": "handle TS590",
        "info": "TS590 is set to AI4; so it reports all changes without polling\n\n",
        "x": 130,
        "y": 440,
        "wires": []
    },
    {
        "id": "45511962.276a48",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "RUMLog TCP out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1110,
        "y": 1140,
        "wires": []
    },
    {
        "id": "b5803ae8.706908",
        "type": "tcp out",
        "z": "2567a318.c428a4",
        "host": "localhost",
        "port": "8888",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "name": "RUMLOG TCP out",
        "x": 1110,
        "y": 1080,
        "wires": []
    },
    {
        "id": "127b39e7.f993de",
        "type": "tcp in",
        "z": "2567a318.c428a4",
        "name": "RUMLog TCP in",
        "server": "server",
        "host": "",
        "port": "8888",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "56f725ed.c911c4",
                "fdb05e45.e27b38"
            ]
        ]
    },
    {
        "id": "56f725ed.c911c4",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "RUMLog TCP in",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1140,
        "wires": []
    },
    {
        "id": "613bc6c3.f9db6",
        "type": "comment",
        "z": "2567a318.c428a4",
        "name": "echo RUMLog <-> TS590",
        "info": "",
        "x": 130,
        "y": 1020,
        "wires": []
    },
    {
        "id": "a8129d03.778888",
        "type": "function",
        "z": "2567a318.c428a4",
        "name": "add \";\"",
        "func": "msg.payload=msg.payload + \";\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 1080,
        "wires": [
            [
                "b5803ae8.706908",
                "45511962.276a48"
            ]
        ]
    },
    {
        "id": "fdb05e45.e27b38",
        "type": "function",
        "z": "2567a318.c428a4",
        "name": "delete AI0; messages",
        "func": "if (msg.payload==\"AI0;\") {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "ae71736d.90f3a8"
            ]
        ]
    },
    {
        "id": "f7016ddb.4f466",
        "type": "tcp out",
        "z": "2567a318.c428a4",
        "d": true,
        "host": "192.168.2.5",
        "port": "5555",
        "beserver": "client",
        "base64": false,
        "end": false,
        "name": "EB500 TCP",
        "x": 570,
        "y": 2240,
        "wires": []
    },
    {
        "id": "f060d77e.5350d8",
        "type": "function",
        "z": "2567a318.c428a4",
        "d": true,
        "name": "EB500 frequency control",
        "func": "f = parseInt(msg.payload);\n\nmsg.payload = \"MEM:CONT MEM0, \" + f/1000000 + \" MHz, 0, CW , 0.1 kHz, (@1),1,OFF,ON,OFF,ON\\r\\n\";\nmsg.payload = msg.payload + \"MEM:CONT:LAB MEM0, \\\"TRX\\\"\\r\\n\";\nreturn msg;\n\n\n\n\n//MEMory:CONTents MEM1, 98.5 MHz, 34, FM ,120 kHz, (@1),1,OFF,ON,OFF,ON",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 345,
        "y": 2242.8499755859375,
        "wires": [
            [
                "f7016ddb.4f466",
                "2ba2cae7.20beb6"
            ]
        ]
    },
    {
        "id": "2ba2cae7.20beb6",
        "type": "debug",
        "z": "2567a318.c428a4",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 2300,
        "wires": []
    },
    {
        "id": "787a9b39.c3b51c",
        "type": "link in",
        "z": "2567a318.c428a4",
        "d": true,
        "name": "",
        "links": [
            "56f23373.eea424",
            "a04f7c82.2c3d1",
            "54bc4149.107d4"
        ],
        "x": 175,
        "y": 2240,
        "wires": [
            [
                "f060d77e.5350d8"
            ]
        ]
    },
    {
        "id": "cb8557ca.626df8",
        "type": "comment",
        "z": "2567a318.c428a4",
        "d": true,
        "name": "handle EB500",
        "info": "",
        "x": 110,
        "y": 2100,
        "wires": []
    },
    {
        "id": "caa8281e.b04338",
        "type": "function",
        "z": "2567a318.c428a4",
        "name": "toString",
        "func": " msg.payload = msg.payload.toString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 830,
        "y": 2000,
        "wires": [
            [
                "681dec55.0ec2f4",
                "244a4186.25bb56"
            ]
        ]
    },
    {
        "id": "5e58f867.1e03d",
        "type": "inject",
        "z": "2567a318.c428a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "QD;",
        "payloadType": "str",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "3fc3c1d.32b333e"
            ]
        ]
    },
    {
        "id": "db91e5b6.ac58a8",
        "type": "function",
        "z": "2567a318.c428a4",
        "name": "",
        "func": "msg.payload = \"AI0;\" +  msg.payload + \"AI4;\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 80,
        "wires": [
            [
                "62c944fd.f62f44",
                "2bfd895.2bb2b76"
            ]
        ]
    },
    {
        "id": "62c944fd.f62f44",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "TS590 direct command",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "3fc3c1d.32b333e",
        "type": "function",
        "z": "2567a318.c428a4",
        "name": "pass",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "db91e5b6.ac58a8",
                "62c944fd.f62f44"
            ]
        ]
    },
    {
        "id": "d0364bde.8c3e28",
        "type": "inject",
        "z": "2567a318.c428a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "PS1;",
        "payloadType": "str",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "3fc3c1d.32b333e"
            ]
        ]
    },
    {
        "id": "2ae46caa.fb19b4",
        "type": "function",
        "z": "3b36acf1.93ddd4",
        "name": "TS590 \"FA\"",
        "func": "f = parseInt(msg.payload.slice(2,13));\nmsg.payload = f;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fc917a39.138f1",
        "type": "function",
        "z": "3b36acf1.93ddd4",
        "name": "TS590 \"MD\"",
        "func": "f = parseInt(msg.payload.slice(2,3));\nmsg.payload = f;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b91c5712.c10e98",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "TS590 mode change",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 600,
        "wires": []
    },
    {
        "id": "99068366.911428",
        "type": "function",
        "z": "2567a318.c428a4",
        "name": "set GQRX mode",
        "func": "var mode=\"\", bw=0;\nvar m = flow.get(\"ts590_mode\");\nswitch (m) {\n    case 1: mode = \"LSB\"; \n            break;\n    case 2: mode = \"USB\";\n            break;\n    case 3: mode = \"CW\";\n            break;\n    case 4: mode = \"FM\";\n            break;\n    case 5: mode = \"AM\";\n            break;\n    case 2: mode = \"FSK\";\n            break;\n    default: mode = \"OFF\"\n}\n\nvar b = flow.get(\"ts590_bw\")\nswitch (b) {\n    case 0: bw = 1200; \n            break;\n    case 1: bw = 1200; \n            break;\n    case 2: bw = 1400; \n            break;\n    case 3: bw = 1600; \n            break;\n    case 4: bw = 1800; \n            break;\n    case 5: bw = 2000; \n            break;\n    case 6: bw = 2200; \n            break;\n    case 7: bw = 2400; \n            break;\n    case 8: bw = 2600; \n            break;\n    case 9: bw = 2800; \n            break;\n    case 10: bw = 3000; \n            break;\n    case 11: bw = 3400; \n            break;\n    case 12: bw = 4000; \n            break;\n    case 13: bw = 5000; \n            break;\n    default: bw = 2800\n}\n\n\n\nmsg.payload = \"M \" + mode + \" \" + bw;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1560,
        "wires": [
            [
                "f640adee.ffb1d8",
                "54ee71bb.4f9e7"
            ]
        ]
    },
    {
        "id": "de32c452.d911d",
        "type": "link in",
        "z": "2567a318.c428a4",
        "name": "frequency",
        "links": [
            "56f23373.eea424",
            "6664f06a.70a65",
            "b46ecf4.2eeef3",
            "12906b84.fb58bc"
        ],
        "x": 215,
        "y": 1560,
        "wires": [
            [
                "99068366.911428"
            ]
        ]
    },
    {
        "id": "6664f06a.70a65",
        "type": "link out",
        "z": "2567a318.c428a4",
        "name": "",
        "links": [
            "de32c452.d911d"
        ],
        "x": 1435,
        "y": 560,
        "wires": []
    },
    {
        "id": "368f38c5.fde2d8",
        "type": "function",
        "z": "3b36acf1.93ddd4",
        "name": "TS590 \"XI\"",
        "func": "f = parseInt(msg.payload.slice(2,13));\nm = parseInt(msg.payload.slice(13,14));\n\n\nvar msg1 = { payload: f};\nvar msg2 = { payload: m};\n\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8d2ca4a6.0365",
        "type": "function",
        "z": "3b36acf1.93ddd4",
        "name": "VS: send XI",
        "func": "msg.payload = \"XI;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "56e74b3f.2d327c",
        "type": "subflow:3b36acf1.93ddd4",
        "z": "2567a318.c428a4",
        "name": "handle TS590",
        "env": [],
        "x": 860,
        "y": 520,
        "wires": [
            [
                "40e4c795.2be6d8"
            ],
            [
                "120caf50.d7d269"
            ],
            [],
            [],
            [
                "98b36d19.e79db"
            ],
            [
                "8081aebd.d0d328"
            ]
        ]
    },
    {
        "id": "80206118.6f18c8",
        "type": "split",
        "z": "2567a318.c428a4",
        "name": "split by \";\"",
        "splt": ";",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "c09101ae.a2db98"
            ]
        ]
    },
    {
        "id": "c09101ae.a2db98",
        "type": "switch",
        "z": "2567a318.c428a4",
        "name": "delete empty and \"?\" messages",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "\\?",
                "vt": "str",
                "case": false
            },
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 530,
        "y": 500,
        "wires": [
            [],
            [],
            [
                "56e74b3f.2d327c",
                "f7355814.9b1038"
            ]
        ]
    },
    {
        "id": "8081aebd.d0d328",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "undecoded message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 680,
        "wires": []
    },
    {
        "id": "f95d4ba4.944fd8",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "gqrx request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1840,
        "wires": []
    },
    {
        "id": "f640adee.ffb1d8",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "gqrx cmd",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1560,
        "wires": []
    },
    {
        "id": "f7355814.9b1038",
        "type": "link out",
        "z": "2567a318.c428a4",
        "name": "",
        "links": [
            "4c6fcd38.4d3594"
        ],
        "x": 715,
        "y": 560,
        "wires": []
    },
    {
        "id": "4c6fcd38.4d3594",
        "type": "link in",
        "z": "2567a318.c428a4",
        "name": "",
        "links": [
            "f7355814.9b1038"
        ],
        "x": 815,
        "y": 1080,
        "wires": [
            [
                "a8129d03.778888"
            ]
        ]
    },
    {
        "id": "244a4186.25bb56",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "gqrx response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 2060,
        "wires": []
    },
    {
        "id": "dd935903.3d2ba8",
        "type": "function",
        "z": "2567a318.c428a4",
        "d": true,
        "name": "HF1000 frequency control",
        "func": "f = parseInt(msg.payload);\n\n\nmsg.payload = \"ctl 1\\r\\nfrq \" + f/1000000 + \"\\r\\nctl 0\\r\\n\";\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 345,
        "y": 2422.8499755859375,
        "wires": [
            [
                "9200e33d.91e698"
            ]
        ]
    },
    {
        "id": "9200e33d.91e698",
        "type": "debug",
        "z": "2567a318.c428a4",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 2480,
        "wires": []
    },
    {
        "id": "399515f5.0da982",
        "type": "link in",
        "z": "2567a318.c428a4",
        "d": true,
        "name": "",
        "links": [
            "56f23373.eea424",
            "a04f7c82.2c3d1",
            "54bc4149.107d4"
        ],
        "x": 175,
        "y": 2420,
        "wires": [
            [
                "dd935903.3d2ba8"
            ]
        ]
    },
    {
        "id": "40e4c795.2be6d8",
        "type": "change",
        "z": "2567a318.c428a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ts590_freq",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 480,
        "wires": [
            [
                "fcd8598f.3ae3e8"
            ]
        ]
    },
    {
        "id": "9210a2c1.b101b",
        "type": "change",
        "z": "2567a318.c428a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gqrx_freq",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 2020,
        "wires": [
            [
                "212ff327.13efa4"
            ]
        ]
    },
    {
        "id": "3ddeec28.45f1b4",
        "type": "tcp request",
        "z": "2567a318.c428a4",
        "server": "127.0.0.1",
        "port": "7356",
        "out": "char",
        "splitc": "\\n",
        "name": "",
        "x": 990,
        "y": 1780,
        "wires": [
            [
                "caa8281e.b04338"
            ]
        ]
    },
    {
        "id": "fcd8598f.3ae3e8",
        "type": "rbe",
        "z": "2567a318.c428a4",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1330,
        "y": 480,
        "wires": [
            [
                "54bc4149.107d4",
                "bba28a01.d07"
            ]
        ]
    },
    {
        "id": "212ff327.13efa4",
        "type": "rbe",
        "z": "2567a318.c428a4",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1430,
        "y": 1960,
        "wires": [
            [
                "ae5baa1e.1a4b28",
                "31c358fd.ece39"
            ]
        ]
    },
    {
        "id": "8e2dcb79.acf7f",
        "type": "rbe",
        "z": "2567a318.c428a4",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1330,
        "y": 560,
        "wires": [
            [
                "6664f06a.70a65",
                "b91c5712.c10e98"
            ]
        ]
    },
    {
        "id": "54ee71bb.4f9e7",
        "type": "function",
        "z": "2567a318.c428a4",
        "name": "pass",
        "func": "msg.payload += \"\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1780,
        "wires": [
            [
                "f95d4ba4.944fd8",
                "3ddeec28.45f1b4"
            ]
        ]
    },
    {
        "id": "bf37bcea.602208",
        "type": "serial in",
        "z": "2567a318.c428a4",
        "name": "ts590 in",
        "serial": "8c92c081.1265b8",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "80206118.6f18c8",
                "15fc324b.d35cf6"
            ]
        ]
    },
    {
        "id": "2252f2ad.3c3e5e",
        "type": "serial out",
        "z": "2567a318.c428a4",
        "name": "ts590 out",
        "serial": "8c92c081.1265b8",
        "x": 1130,
        "y": 860,
        "wires": []
    },
    {
        "id": "fd3c0c04.5770c8",
        "type": "inject",
        "z": "2567a318.c428a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "PS0;",
        "payloadType": "str",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "3fc3c1d.32b333e"
            ]
        ]
    },
    {
        "id": "3669651c.1a03da",
        "type": "link in",
        "z": "2567a318.c428a4",
        "name": "",
        "links": [
            "2bfd895.2bb2b76"
        ],
        "x": 775,
        "y": 820,
        "wires": [
            [
                "ae71736d.90f3a8"
            ]
        ]
    },
    {
        "id": "2bfd895.2bb2b76",
        "type": "link out",
        "z": "2567a318.c428a4",
        "name": "",
        "links": [
            "3669651c.1a03da"
        ],
        "x": 735,
        "y": 80,
        "wires": []
    },
    {
        "id": "ecc8a5d3.7e2da8",
        "type": "function",
        "z": "3b36acf1.93ddd4",
        "name": "TS590 \"PS\"",
        "func": "f = parseInt(msg.payload.slice(2,3));\nmsg.payload = f;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8d6e8da2.f3407",
        "type": "function",
        "z": "3b36acf1.93ddd4",
        "name": "TS590 \"SH\"",
        "func": "f = parseInt(msg.payload.slice(2,4));\nmsg.payload = f;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "98b36d19.e79db",
        "type": "change",
        "z": "2567a318.c428a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ts590_bw",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 560,
        "wires": [
            [
                "ea98bef.cf6eac"
            ]
        ]
    },
    {
        "id": "120caf50.d7d269",
        "type": "change",
        "z": "2567a318.c428a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ts590_mode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 520,
        "wires": [
            [
                "8e2dcb79.acf7f"
            ]
        ]
    },
    {
        "id": "ea98bef.cf6eac",
        "type": "rbe",
        "z": "2567a318.c428a4",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1330,
        "y": 640,
        "wires": [
            [
                "7b9f6f7d.db3038",
                "12906b84.fb58bc"
            ]
        ]
    },
    {
        "id": "7b9f6f7d.db3038",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "TS590 bandwidth change",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 680,
        "wires": []
    },
    {
        "id": "12906b84.fb58bc",
        "type": "link out",
        "z": "2567a318.c428a4",
        "name": "",
        "links": [
            "de32c452.d911d"
        ],
        "x": 1435,
        "y": 640,
        "wires": []
    },
    {
        "id": "f9e1b27.8e2b3d",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 960,
        "wires": []
    },
    {
        "id": "47bba021bcf7a609",
        "type": "catch",
        "z": "2567a318.c428a4",
        "name": "",
        "scope": [
            "3ddeec28.45f1b4"
        ],
        "uncaught": false,
        "x": 960,
        "y": 1720,
        "wires": [
            [
                "7b41c88c807fe65a"
            ]
        ]
    },
    {
        "id": "7b41c88c807fe65a",
        "type": "debug",
        "z": "2567a318.c428a4",
        "name": "gqrx tcp error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 1720,
        "wires": []
    }
]